$base_font: 16px;

$white: #ffff;
$black: #0000;
$grey: #736e6e;

$light_pink: #df7e89;

$yellow: #e99c43;
$blue: #64acd9;
$purple: #a378aa;

$base_padding: 20px;
$base_margin: 20px;

//Breakpoints
$mq-small: 'screen and (min-width: 768px)';
$mq-medium: 'screen and (min-width: 1024px)';
